/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* stylesheet start */

nav {
	height:40px;
	line-height: 40px;
	width: 100%;
}

.links {
	float:right;
	padding: 15px;
}

.links li {
	display: inline-block;
	padding: 0 6px;
}

.links img {
	height: 24px;
	vertical-align: middle;
}

a {
	text-decoration: none;
	line-height: 1px;
	font-family: Arial, sans-serif;
	color: gray;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

.signbtn {
	background-color: #4484f2;
	border: 1px solid #4484f2;
	border-radius: 2px;
	color: white;
	padding: 6px;
	font-weight: bold;
	height: 28px;
	width: 70px;
}

.logo {
	top: 150px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.logo img {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.left {
	float:left;
	padding-left: 20px;
}

.right {
	float: right;
	padding-right: 20px;
}

footer li {
	display: inline;
	padding: 2px 14px;
}

footer {
	height: 40px;
	width: 100%;
	bottom: 0;
	background-color: #f2f2f2;
	border-top; 1px solid;
	position: absolute;
	line-height: 40px; 
}

.search {
	margin-top:300px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
}

.inputsearch {
	max-width: 550px;
	width: 90%;
	height: 22px;
}

.inputsearch:hover {
	border: 1px solid;
}

.search img {
	width: 20px;
	position: relative;
	top: 6px;
	right: 25px;
	cursor: pointer;
}

.button {
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.srch1 {
	font-size: 10px;
	border-radius: 2px;
	margin: 14px;
	padding: 5px 5px;
	cursor: pointer;
	background-color: #f2f2f2;
	border: 1px solid #e4e3e3;
}

.srch2 {
	font-size: 10px;
	border-radius: 2px;
	margin: 14px;
	padding: 5px 5px;
	cursor: pointer;
	background-color: #f2f2f2;
	border: 1px solid #e4e3e3;
}